<div class="card">
    <div class="card-heading">
        <a data-toggle="collapse" data-target="#collapseThree">Lọc theo giá</a>
    </div>
    <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
        <div class="card-body">
            <div class="shop__sidebar__price">
                <ul>
                    @for (var i = 0; i < 5; i++)
                    {
                        <li><a asp-controller="Shop" asp-action="Index" asp-route-price="@i">$@(i * 50.00) - $@((i + 1) * 50.00)</a></li>
                    }
                    <li><a asp-controller="Shop" asp-action="Index" asp-route-price="5">250.00+</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>