<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="header__top__left">
                        <p>Free shipping, 30-day return or refund guarantee.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">
                        <div class="header__top__links">
                            <a asp-controller="KhachHang" asp-action="DangNhap" id="signInBtn">Đăng nhập</a>
                            <a asp-controller="KhachHang" asp-action="DangKy" id="signUpBtn">Đăng ký</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="/"><img src="~/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a asp-controller="Shop" asp-action="Index">Shop</a></li>
                        
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a class="search-switch"><img src="~/img/icon/search.png" alt=""></a>
                    <a href="#"><img src="~/img/icon/heart.png" alt=""></a>

<!-- Link giỏ hàng -->
<a asp-controller="ShoppingCart" asp-action="Index">
    <img src="~/img/icon/cart.png" alt="">
    <span id="cartCount">0</span>
</a>

<!-- ✅ Tổng tiền giỏ hàng tự động cập nhật -->
<div class="price" id="cartPrice">$0.00</div>
                </div>

            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
<!-- Header Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form asp-controller="Shop" asp-action="Index" class="search-model-form">
            <input name="query" type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->