<div class="product__item">
    <div class="product__item__pic set-bg" data-setbg="@Model.AnhChinhSP">
        <ul class="product__hover">
            <li><a asp-action="Index" asp-controller="Detail" asp-route-MaSP="@Model.MaSP"><img src="~/img/icon/search.png" alt=""></a></li>
        </ul>
    </div>
    <div class="product__item__text">
        <h6>@Model.TenSP</h6>
        <a href="#" class="add-cart">+ Add To Cart</a>
        <div class="rating">
            @for (int j = 0; j < 5; j++)
            {
                if (j < Model.ChatLuongSP)
                {
                    <i class="fa fa-star" style="color:#f7941d"></i>
                }
                else
                {
                    <i class="fa fa-star-o"></i>
                }
            }
        </div>
        <h5>$@Model.GiaSP</h5>
    </div>
</div>