@model IEnumerable<BTL_LTW.ViewModels.ProductVM>

@{
    ViewData["Title"] = "_Shop";
    Layout = "_LayoutCustomer";
}

<!-- Breadcrumb Section Begin -->
@RenderSection("Breadcrumb")
<!-- Breadcrumb Section End -->
<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form asp-action="Search" asp-controller="Shop">
                            <input name="query" type="text" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">

                            @await Component.InvokeAsync("MenuCategory")

                            @await Html.PartialAsync("_FilterPrice")
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p>Có @ViewBag.ProductSize sản phẩm</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->

